<!DOCTYPE html>
<html>
  <head>
    <title>{{blog}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<h1>Sandy's Blog</h1>
<p>Welcome to Sandy's Blog</p>
    {{{body}}}
  </body>
</html>